[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/reverie/Desktop/Draft5.net]
row=8
col=0

[/home/reverie/Desktop/Draft1.op.raw]
row=5
col=1

[/home/reverie/Desktop/Draft3.log]
row=7
col=1

[/home/reverie/Desktop/Draft1.raw]
row=9
col=0

[/home/reverie/Desktop/Draft5.log]
row=6
col=1

[/home/reverie/Desktop/Draft3.raw]
row=9
col=1

[/home/reverie/Desktop/Draft5.op.raw]
row=12
col=0

[/home/reverie/Desktop/Draft5.raw]
row=8
col=1

[/home/reverie/Desktop/Draft3.net]
row=10
col=0

[/home/reverie/Desktop/Draft1.log]
row=11
col=0

[/home/reverie/Desktop/org.kde.korganizer.desktop]
row=5
col=0

[/home/reverie/Desktop/all things]
row=7
col=0

[Trash]
row=6
col=0

