[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/reverie/Desktop/cisco-anyconnect.desktop]
row=2
col=1

[/home/reverie/Desktop/org.kde.kile.desktop]
row=4
col=3

[/home/reverie/Desktop/amazon.desktop]
row=2
col=3

[/home/reverie/Desktop/org.gnome.clocks.desktop]
row=0
col=3

[/home/reverie/Desktop/STM32CubeMX.desktop]
row=0
col=0

[/home/reverie/Desktop/anki.desktop]
row=5
col=1

[/home/reverie/Desktop/Linux Mint.desktop]
row=4
col=0

[/home/reverie/Desktop/TryHackMe.desktop]
row=4
col=2

[/home/reverie/Desktop/xfce-wm-settings.desktop]
row=0
col=1

[/home/reverie/Desktop/Downloads.desktop]
row=5
col=0

[/home/reverie/Desktop/iCloud0.desktop]
row=5
col=2

[/home/reverie/Desktop/Discord.desktop]
row=3
col=3

[/home/reverie/Desktop/WG-Management.desktop]
row=1
col=2

[/home/reverie/Desktop/Whatsapp.desktop]
row=4
col=1

[/home/reverie/Desktop/Digitaltechnik Buch.desktop]
row=2
col=0

[/home/reverie/Desktop/Link to schedule.ods]
row=2
col=2

[/home/reverie/Desktop/spotify_spotify.desktop]
row=1
col=1

[/home/reverie/Desktop/Digital.desktop]
row=3
col=1

[/home/reverie/Desktop/Projekt DT.desktop]
row=5
col=3

[/home/reverie/Desktop/YouTube.desktop]
row=1
col=3

[/home/reverie/Desktop/lightdm-settings.desktop]
row=3
col=0

[/home/reverie/Desktop/plank.desktop]
row=3
col=2

[/home/reverie/Desktop/My Finance0.desktop]
row=0
col=2

[Trash]
row=1
col=0

