[Desktop Entry]
X-SnapInstanceName=spotify
Type=Application
Name=Spotify
GenericName=Music Player
Icon=/snap/spotify/current/usr/share/spotify/icons/spotify_icon.ico
Exec=spotify
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
Comment=music player
Path=
StartupNotify=false
X-XFCE-Source=file:///home/reverie/.local/share/applications/spotify_spotify.desktop
